html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    height: 1px;
    width: 100vw;
    color:red;
}

.caja {
    width: 100vw;
    height: 30vh;
}

#cajaResultado{
    font-size: 2.5em;
    font-weight: bold;
}

input#comida {
    border-radius: 12px;
    height: 145px;
    width: 210px;
    border: 1px solid #000000;
    background: #cccccc url("../img/comida.png") no-repeat center;
    cursor: pointer;
}

input#comida:hover{
    background: green url("../img/comida.png") no-repeat center;
}